wheel
youtube-dl
requests
i3ipc
pyquery
pytz
dataset
pyotp
argcomplete
tqdm
plumbum
pulsectl
pygit2
watchgod
httpx
arrow
fastapi
uvicorn

#i3pystatus
psutil
netifaces
colour
basiciw
poetry
xonsh
supervisor
pdbpp
yapf
